<html>
<head>
    <title>Show do Milhão</title>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="css/show_multi.css">
    <script type="text/javascript" src="js/show_multi.js"></script>
</head>
<body align="center">
    {{#with dados}}
    <form id='proxima' action="prox_show">
    <div class="topo" align="center">
        <div class="menu">
            <div class="moedas" id="moedas" name="moedas" value="{{dinheiro}}"><strong><font id="dinheiro_visivel" color="white">{{dinheiro}}</font><img class="moeda" src="imagens/moeda.png" height="50px" width="50px"></strong>
            </div>
        </div>
    </div>
    <div class="menu_espaco"></div>
    <!-- Quadro de Pergunte e Respostas -->
    <div class="quadro_principal" id="quadro_principal" align="center">
        <div class="bloco" align="right">
            <div class="quadro_pergunta" align="center">
                <input type="hidden" id="dificuldade" name="dificuldade" value="{{dificuldade}}">
                <div class="pergunta">{{pergunta}}</div>
                <div class="espacamento" id="alt"></div>
                <div class="resposta" id="resp_1" value="{{resp_1_bol}}" onclick="mouse_click(this)">{{resp_1}}</div>
                <div class="espacamento"></div>
                <div class="resposta" id="resp_2" value="{{resp_2_bol}}" onclick="mouse_click(this)">{{resp_2}}</div>
                <div class="espacamento"></div>
                <div class="resposta" id="resp_3" value="{{resp_3_bol}}" onclick="mouse_click(this)">{{resp_3}}</div>
                <div class="espacamento"></div>
                <div class="resposta" id="resp_4" value="{{resp_4_bol}}" onclick="mouse_click(this)">{{resp_4}}</div>
                <div class="espacamento"></div>
                <div class="dinheiro"><font size="5"><strong>{{numero_pergunta}}</strong></font></div>
            </div>
        </div>
            <div class="bloco">    
                <div class="quadro_2" align="left">
                    <div class="quadro_ajuda">
                        <div class="ajuda" id="cartas" value="0" onclick="mouse_click_ajuda(this.id)" align="center">
                            CARTAS<img src="imagens/cards.png" height="50px" width="50px">
                            <div class="padding_vertical"><div class="valor_ajuda">$100</div></div>
                        </div>
                        <div class="espacamento_horizonzal"></div>
                        <div class="ajuda" id="plateia" value="1" onclick="mouse_click_ajuda(this.id)" align="center">
                            PLATEIA<img src="imagens/audience.png" height="50px" width="50px">
                            <div class="padding_vertical"><div class="valor_ajuda">$50</div></div>
                        </div>
                        <div class="espacamento_horizonzal"></div>
                        <div class="ajuda" id="uni" value="2" onclick="mouse_click_ajuda(this.id)" align="center">
                            UNI.<img src="imagens/college.png" height="50px" width="50px">
                            <div class="padding_vertical"><div class="valor_ajuda">$50</div></div>
                        </div>
                        <div class="espacamento_horizonzal"></div>
                        <div class="tempo" id="tempo" value="3" align="center">
                            <strong><font size="6">30<br></font></strong>
                            <img src="imagens/tempo_3.gif" height="60px" width="60px">
                        </div>
                    </div>
                    <div class="espacamento_branco"></div>
                    <div class="interativa">
                        <div id="escolhe_carta" style="display: none;">
                            <!-- Aqui ficará as Cartas! -->
                            <p align="center"><strong>ESCOLHA UMA CARTA:</strong></p>
                            <img height="170" class="desabilita_img" id="carta1" width="128px" src="imagens/traz.png" onclick="mouse_click_carta(this.id)">
                            <img height="170" class="desabilita_img" id="carta2" width="128px" src="imagens/traz.png" onclick="mouse_click_carta(this.id)">
                            <img height="170" class="desabilita_img" id="carta3" width="128px" src="imagens/traz.png" onclick="mouse_click_carta(this.id)">
                            <img height="170" class="desabilita_img" id="carta4" width="128px" src="imagens/traz.png" onclick="mouse_click_carta(this.id)">
                        </div>
                        <div id="porcento_plateia" style="display: none;">
                            <!-- Aqui ficará a Plateia! -->
                            <p align="center"><strong>Escolhas por Porcentagem:</strong></p>
                            <p id="plateia_resp_1" align="center"></p>
                            <p id="plateia_resp_2" align="center"></p>
                            <p id="plateia_resp_3" align="center"></p>
                            <p id="plateia_resp_4" align="center"></p>
                        </div>
                        <div id="resposta_universitario" align="center" style="display: none;">
                            <!-- Aqui ficará os Universitarios! -->
                            <p align="center"><strong>Escolhas dos Universitários:</strong></p>
                            <div class="uni_img" align="center">
                                <img height="170" width="128px" src="imagens/bone.png">
                                <p class="alternativa" id="uni_resp_1" align="center"></p>
                            </div>
                            <div class="uni_img" align="center">
                                <img height="170" width="128px" src="imagens/mestre.png">
                                <p class="alternativa" id="uni_resp_2" align="center"></p>
                            </div>
                            <div class="uni_img" align="center">
                                <img height="170" width="150px" src="imagens/senhorbarba.png">
                                <p class="alternativa" id="uni_resp_3" align="center"></p>
                            </div>
                        </div>
                    </div>
                    <div class="espacamento_branco"></div>
                    <div class="chat">
                        <div style="float:left;"><div id="resposta_usuario_1" value="{{id_usuario_1}}"><strong>{{usuario_nome_1}}</strong> - <div id="{{id_usuario_1}}">Pensando...</div></div>
                        <div id="resposta_usuario_2" value="{{id_usuario_2}}"><strong>{{usuario_nome_2}}</strong> - <div id="{{id_usuario_2}}">Pensando...</div></div></div>
                        <div id="imagem_dancando" style="display: none;"><img height="170" width="150px" src="{{imagem_dance}}"></div>
                    </div>
                    <input type="hidden" id="meu_id" name="meu_id" value="{{meu_id}}">
                    <div class="espacamento_branco"></div>
<!--                     <div class="quadro_parar" align="center">
                        <div class="parar" align="center" onclick="funcao_parar()"><font color="black">PARAR</font></div>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="charme_acertou" id="charme_acertou" align="center" style="display: none;">
            <div id="charme_certo_ou_errado"></div>
            </br>
            <div id="charme_resposta"></div>
            </br>
            <div id="proxima_etapa" style="display: none;" onclick="submit_form()">Pr&oacute;xima Pergunta >></div>
            <div id="errou_voltar" style="display: none;" onclick="voltar_menu()">Voltar</div>
        </div>
    </div>
    </form>
{{/with}}
    <script type="text/javascript">
        var socket = io('https://showdovitao.herokuapp.com/')
        function mouse_click(resposta){
            resp = window.document.getElementById(resposta.id)
            r = resp.getAttribute('value')
            conteudo = resp.innerHTML
            id_usuario = window.document.getElementById("meu_id").value
            resposta = {resposta: r, conteudo: conteudo, id_usuario: id_usuario}
            // Envia resposta ao servidor
            a = window.document.getElementById('meu_id').value
            b = window.document.getElementById(a)
            b.innerHTML = "RESPONDIDO!"
            socket.emit('respostaUsuario', resposta)
            window.document.getElementById('resp_1').style =  "background-color:#6495ed;"
            window.document.getElementById('resp_2').style =  "background-color:#6495ed;"
            window.document.getElementById('resp_3').style =  "background-color:#6495ed;"
            window.document.getElementById('resp_4').style =  "background-color:#6495ed;"
            window.document.getElementById('imagem_dancando').style = "display: block;"
            resp.style = "background-color: green;"
        }

        socket.on('quemRespodeu', function(message){
            console.log(message.conteudo)
            a = window.document.getElementById(message.id_usuario)
            window.document.getElementById('imagem_dancando').style = "display: block;"
            a.innerHTML = "RESPONDIDO!"
        })

        // ACABOU O TEMPO
        socket.on('acabouTempo', function(message){
            console.log(message.conteudo)
            window.document.getElementById('resp_1').onclick =  ""
            window.document.getElementById('resp_2').onclick =  ""
            window.document.getElementById('resp_3').onclick =  ""
            window.document.getElementById('resp_4').onclick =  ""
            window.document.getElementById('imagem_dancando').style = "display: block;"
            for (i in message){
               a = window.document.getElementById(i)
                if (message[i] == 'false'){
                    a.innerHTML = a.innerHTML + '<strong><font color="red">(ERRADA!)</font></strong>'}
                else if(message[i] == 'true'){a.innerHTML = a.innerHTML + '<strong><font color="green">(CORRETA!)</font></strong>'}
            }
            socket.emit('ababouTempo2', message)
        })
        socket.on('acabouMeuTempo', function(message){
            console.log(message.conteudo)
            window.document.getElementById('resp_1').onclick =  ""
            window.document.getElementById('resp_2').onclick =  ""
            window.document.getElementById('resp_3').onclick =  ""
            window.document.getElementById('resp_4').onclick =  ""
            for (i in message){
                a = window.document.getElementById(i)
                if (message[i] == 'false'){
                    a.innerHTML = a.innerHTML + '<strong><font color="red">(ERRADA!)</font></strong>'}
                else if(message[i] == 'true'){a.innerHTML = a.innerHTML + '<strong><font color="green">(CORRETA!)</font></strong>'}
            }
        })

        // Acabou o tempo e esta na Hora de Troca de Pagina
        socket.on('Troca_pagina', function(message){
            // console.log(message.conteudo)
            id_usuario = window.document.getElementById("meu_id").value
            socket.emit('Troca_pagina_2', id_usuario)
            window.location = message
        })
        socket.on('Troca_minha_pagina', function(message){
            // console.log(message.conteudo)
            window.location = message
        })
    </script>
</body>
</html>
